body {
    font-family: sans-serif;
    color: white;
    height: 100vh;
    width: 100%;
    background-color: rgb(158, 129, 171)
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}

.atm-wrapper {
    height: 475px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}


.atm-machine-wrapper {
    width: 358px;
    height: auto;
    background-color: rgb(241, 240, 231);
}
